@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 45px;
    font-family: 'IBMPlexSansKR-Regular';
    background-color: rgb(247, 247, 247);
}

#listbox{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

#list{
    width:50%;
}