@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 45px;
    font-family: 'IBMPlexSansKR-Regular';
    background-color: rgb(247, 247, 247);
}

#listbox{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

#list{
    width:50%;
}

.post{
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: black;
}

.postlink {
    font-size: 25px;
    font-weight: 600;
}

.taglink{
    color: rgb(156, 162, 162);
    margin-right: 7px;
    cursor: pointer;
}
.taglink:hover{
    color: rgb(5, 71, 65);
}