#title1, #title2 {
    font-family: 'Happiness-Sans-Title';
    font-size: 50px;

    text-align: center;

    text-shadow: 0px 0px 30px rgb(222, 221, 221);
    color: rgb(5, 71, 65);
}

#title3, #title4{
    font-size: 15px;

    text-align: center;
}

#title3{
    margin-top: 25px;
}


#searchbar{
    display: flex;
    justify-content: center;
    height: 33px;
    margin-top: 43px;
}

#searchbutton{
    background-color: rgb(5, 71, 65);
    border-radius: 33px;
    width: 33px;
    border: 0;
    outline: 0;
}

#searchicon{
    height: 17px;
    vertical-align: bottom;
}

input{
    width: 250px;
    border-radius: 33px;
    border-color: rgb(5, 71, 65);
    border-width: 1px;
    margin-right: 3px;
    padding-left: 10px;
}

#listbox{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

#list{
    width:50%;
}

.post{
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: black;
}

.postlink {
    font-size: 25px;
    font-weight: 600;
}

.taglink{
    color: rgb(81, 84, 84);
    margin-left: 13px;
}