#title1, #title2 {
    font-family: 'Happiness-Sans-Title';
    font-size: 50px;

    text-align: center;

    text-shadow: 0px 0px 30px rgb(222, 221, 221);
    color: rgb(5, 71, 65);
}

#title3, #title4{
    font-size: 15px;

    text-align: center;
}

#title3{
    margin-top: 25px;
}