@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#title{
    text-align: center;
    font-family: 'Happiness-Sans-Title';
    font-size: 45px;
    margin-bottom: 80px;
    margin-top: 80px;
    color: rgb(5,71,65);
}

#postbox{
    display: flex;
    justify-content: center;
}

#post{
    width: 50%;
}

#suggestbox{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#suggest{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

button{
    appearance: none;
    background-color: rgb(247, 247, 247);
    color: rgb(5,71,65);
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover{
    background-color: rgb(5,71,65);
    color: rgb(247, 247, 247);
}

.thm{
    font-family: 'Happiness-Sans-Title';
}

.thmcontent{
    margin-top: 10px;
    color: black;
    font-family: 'IBMPlexSansKR-Regular';
}

.def,.thm{
    color: rgb(5,71,65);
    background-color: rgb(232,232,232);
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tsbox{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.ts{
    width:50%;
}

#qedbox{
    text-align: center;
    margin-top: 80px;
    font-size: 18px;
    font-family: 'Pacifico', cursive;
}