#title{
    text-align: center;
    font-family: 'Happiness-Sans-Title';
    font-size: 45px;
    margin-bottom: 50px;
    color: rgb(5,71,65);
}

#postbox{
    display: flex;
    justify-content: center;
}

#post{
    width: 50%;
}

#suggestbox{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: -35px;
}

#suggest{
    width: 50%;
}

.thm{
    font-family: 'Happiness-Sans-Title';
}

.thmcontent{
    margin-top: 10px;
    color: black;
    font-family: 'IBMPlexSansKR-Regular';
}

.def,.thm{
    color: rgb(5,71,65);
    background-color: rgb(232,232,232);
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.t{
    font-family: 'Happiness-Sans-Title';
    color: rgb(5,71,65);
}