#resultbox{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: -35px;
}
#result{
    width: 50%;
    font-family: 'Happiness-Sans-Title';
    color: rgb(5,71,65);
}

#logo{
    margin-right: 30px;
    font-size: 25px;
    font-family: 'Happiness-Sans-Title';
    color: rgb(5,71,65);
}